@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#login {
  color: rgb(var(--foreground-rgb));
  background-image: url("https://images.hive.blog/p/YpihifdXP4WNbGMdjw7e3DuhJWBvCw4SfuLZsrnJYHEpsqZFkiGGNCPw26VQgK33DZukXwVUP5sKHUYACAzbGSKWc2omqqTcDdozmx7S3K2vrpbnndE54yrnwMj4kKkwRnJeEWBcig9QQLQ3m1y8nzuioWkUHdUr9xszmP165Ud4?format=match&mode=fit");
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
